
 


  	h1 {
  		color: red;
  	}
  	img {
  		width: 400px;
  	}
  	#thirdDiv{
  		width: 500px;
  		height: 600px;
  		background-color: sandybrown;
  		padding: 50px;
  		border: 5px solid brown;
  		margin: 50px;
  	}
  	#spanId {
  		font-size: 18px;
  		margin: 50px;
  	}

  	.divClass {
  		background-image: url("wood-2879254_960_720.webp");
  		align
  		  margin-left: auto;
  		  margin-right: auto;
  	}
